body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff; /* light blue background color */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF; /* primary blue color for navbar */
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 24px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ccc; /* Lighter color on hover for the login link */
}

.welcome-section {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('images/welcomePageBanner.avif');
    background-size: cover;        /* Ensures the image covers the whole section */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Ensures the image doesn't repeat */
}


.welcome-section h1, p {
    color: white; /* Blue color for welcome heading */
    text-align: center;
}

/* ... (previous styles) ... */

/* Style for the login form and its elements */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the form */
}

.login-form input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* ... (previous styles) ... */

.user-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* Makes the image circular */
    object-fit: cover;   /* Makes sure the image covers the dimensions and remains centered */
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.user-email {
    font-size: 18px;
    margin-bottom: 20px;
}

.user-gyms ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.user-gyms li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    text-align: center;
}

.display-qr {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.display-qr:hover {
    background-color: #0056b3;
}

.user-icon-wrapper {
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.user-icon-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;   /* This maintains a 1:1 aspect ratio */
    background-color: #007BFF;
    border-radius: 50%;  /* This ensures a perfect circle */
}

.fas {
    font-size: 10.5rem;
    position: absolute;   /* This places the icon on top of the pseudo-element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* This centers the icon both horizontally and vertically */
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.back-btn {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.back-btn i {
    margin-right: 5px;
}

.confirmation-content {
    height: calc(100% - 50px); /* Deducting navbar height */
    background-color: #4CAF50; /* Green background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.checkmark-icon {
    font-size: 5rem; /* Big checkmark icon */
    color: white;
    margin-bottom: 110px;
}

.date-field {
    text-align: center;
    font-size: 18px;
    color: white;
}

.true{
    display: flex!important;
}

.false{
    display: none!important;
}

.error-content {
    height: calc(100% - 50px); 
    background-color: #FF0000; /* Red background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.error-icon {
    font-size: 5rem; 
    color: white;
    margin-bottom: 110px;
}

.error-message {
    font-size: 18px;
    color: white;
    text-align: center;
}

#qrCode2{
    display: flex;
    justify-content: center;
}

.list-of-gyms{
    margin-bottom: 20px;
}

.list-of-gyms span{
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.register-form input,
.register-form select,
.register-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form input{
    padding: 10px 2px!important;
}

.register-form button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

.register-form button:hover {
    background-color: #0056b3;
}

.password-error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;  /* Added padding around the container */
}

.confirmation-icon {
    font-size: 5rem;
    color: #007BFF;
    margin-bottom: 40px;  /* Increased margin */
}

.confirmation-message {
    font-size: 18px;
    text-align: center;
    color: #333;
    max-width: 80%;  /* Limit the width to avoid very long lines on wider screens */
}

@media screen and (max-width: 768px) {
    /* Mobile-specific styles */
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .login{
        margin-top: 20px;
    }
    .login-form {
        width: 90%;
        padding: 15px;
    }
    .user-dashboard {
        padding: 10px;
    }
    .back-btn {
        font-size: 14px; /* Smaller font size for mobile view */
    }

    .checkmark-icon {
        font-size: 3rem; /* Smaller checkmark for mobile view */
        margin-bottom: 50px;
    }

    .error-icon {
        font-size: 3rem; /* Smaller checkmark for mobile view */
        margin-bottom: 50px;
    }

    .date-field {
        font-size: 16px; /* Smaller date font size for mobile view */
    }

    .register-form {
        padding: 15px;
        width: 90%;
    }

    .confirmation-icon {
        font-size: 3rem;
    }
    .confirmation-message {
        font-size: 16px;
    }
}
